<app-carrousel />
<div class="font-bold py-7 px-14 text-4xl">Models</div>
<app-gallery />
<p class="px-14 text-sm mt-2">* Los precios son referenciales y esta cotización no representa una oferta final. Los precios definitivos, impuestos aplicables, tiempos de entrega y condiciones comerciales serán las establecidas en la orden de pedido que se registre en el Centro Porsche. Precios y disponibilidad están sujetos a modificación sin previo aviso. La imagen del vehículo mostrado no representa exactamente las especificaciones seleccionadas para el mercado Chileno. Para mayor información en relación con el color, equipamiento y otras opciones, por favor contacte al Centro Porsche más cercano.</p>
<h3 class="px-14 text-3xl font-bold py-7">Testlo Live</h3>
<app-mansory-grid />
