
<div class="ml-24 flex gap-24">
   <h1>Tasks</h1>
   <button>
      Add new task
   </button>
</div>

<div class="ml-24 mt-8">
   <div>
      <h3 class="text-gray-400 mb-4">
         My tasks
      </h3>
      <!-- Agregar un grid, de forma que esten agrupadas las tareas en 3 columnas -->
      <div>
         <div>Tittle Task</div>
         <textarea>Content</textarea>
         <div>
            is done: false
         </div>
         <div>
            <button>Complete</button>
            <button>Delete</button>
         </div>
      </div>
   </div>
</div>