<div
  class="hero h-[38rem]"
  style="background-image: url('images/white.jpg');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">CARS</h1>
    </div>
  </div>
</div>

<div class="flex justify-around w-24 mx-44 mt-8">
   <div>Home</div>
   <div>/</div>
   <div>Cars</div>
</div>

<div class="flex gap-4 mx-44">
   <button class="btn btn-outline btn-warning">All categories</button>
   <button class="btn btn-outline btn-warning">Coupe</button>
   <button class="btn btn-outline btn-warning">Pick-Up</button>
   <button class="btn btn-outline btn-warning">SUV</button>
   <button class="btn btn-outline btn-warning">City-Car</button>
</div>

<app-card-list [objectList]="cars"/>