<h2 mat-dialog-title>Add new task</h2>
<mat-dialog-content class="mat-typography">
   <form action="" id="add" class="flex flex-col" [formGroup]="addTaskForm">
      <mat-form-field class="example-full-width">
         <mat-label>Title</mat-label>
         <input matInput placeholder="Ex. Pizza" value="Sushi" formControlName="title">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
         <mat-label>Description</mat-label>
         <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
      </mat-form-field>

     
        
      <input #file type="file"  formControlName (change)="onChange($event)">
 
   </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial form="add" (click)="createTask()">Add</button>
</mat-dialog-actions>