<div
  id="hero"
  class="hero h-[44rem]"
  style="background-image: url('images/tenor.gif');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">View our models</h1>
      <p class="mb-5">
        View all models we offer
      </p>
      <button class="btn btn-primary">
        <a routerLink="/dealership/products">
          Get Started
        </a>
      </button>
    </div>
  </div>
</div>
